@charset "utf-8";

/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Noto+Sans+KR&family=Public+Sans:wght@200;300&display=swap');
/* font-family: 'Noto Sans', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */
/* font-family: 'Public Sans', sans-serif; */

/* 모바일 화면시 오른쪽 여백 제거하기 위해 html, body에 공통으로 overflow-x=hidden 설정 */
body,
html,
h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    border: none;
}

a {
    color: #fff;
    text-decoration: none;
}

/* [스크롤바 가로크기] */
::-webkit-scrollbar {
    width: 8px;
}

/* [스크롤바 배경색, 모서리 둥글게] */
::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 10px;
}

/* [스크롤바 트랙 배경색, 모서리 둥글게] */
::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 5px;
}

html {
    overflow-x: hidden;
}


/* 배경화면 및 폰트 세팅 */
body {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 760px;
    overflow-x: hidden;
    font-family: 'Noto Sans', 'Noto Sans KR', sans-serif;
    background: url(../images/bg.jpg) no-repeat fixed top/cover;
}

/* 가상요소로 배경화면 살짝 흐리게 / 메뉴 가독성 올리기 */
body::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.295);
    z-index: -1;
    /* 애니메이션할때 이거 지워야된다 까먹지마셈*/
    /* animation: body 3s ease-in forwards; */
}

@keyframes body {
    from {
        background-color: rgb(216, 216, 216);
    }

    to {
        background-color: rgba(0, 0, 0, 0.295);
    }
}


/* 각 섹션 공통 영역 설정 */
section {
    position: relative;
    width: 100%;
}



/* 임시 테두리 */
main,
section,
footer {
    outline: 2px dashed #ccc;
}


/* 양쪽 마진 공통 클래스 */
.wid {
    width: calc(100% - 16.33%);
    margin: 0 auto;
    outline: 2px dotted blue;
}

/* 가상 속박스 공통 클래스*/
.rbxIn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10%;
}

/*///////////////////////////////////////////////// 상단영역 /////////////////////////////////*/
.mainbx {
    position: relative;
    width: 100%;
    height: 100vh;
}


#top {
    position: fixed;
    display: flex;
    width: 100%;
    height: 114px;
    padding: 30px;
    box-sizing: border-box;
    z-index: 999;
    transition: .6s;
}

#top.on {
    height: 0;
}

/* 상단로고 */
.mlogo {
    position: fixed;
    top: 30px;
    left: 30px;
    box-sizing: border-box;
    z-index: 999;
    transition: .6s;
}

/* 마우스 휠 이벤트용 클래스 */
.mlogo.on {
    position: fixed;
    top: 30px;
    left: 30px;
    box-sizing: border-box;
    z-index: 999;
    transition: .6s;
}

.mlogo a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 68px;
}

/* 메인로고 */
.biglogo {
    position: relative;
    /* blogobx 부모자격 */
    height: 100%;
}

/* 로고 이미지 및 span 글씨 겉박스 */
.blogobx {
    position: absolute;
    bottom: 0;
    width: 49vw;
    /* 박스 비율 유지를 위해 가로크기를 자식요소들이 안을 꽉 채울수 있게 조절 */
}

.biglogo img {
    display: block;
    width: 45vw;
    opacity: 1;
    /* 애니메이션 작업할때 0으로 */
    /* animation: bimg .5s ease-in 3s forwards; */
}

@keyframes bimg {
    to {
        opacity: 1;
    }
}

.biglogo span {
    position: absolute;
    right: 0;
    white-space: nowrap;
    font-size: 2.08vw;
    color: #fff;
    letter-spacing: -2px;
    opacity: 1;
    /* 애니메이션 용 */
    /* animation: bspan .5s ease-in-out 3.3s forwards; */
}

@keyframes bspan {
    to {
        /* right: -84px;  left %로 수정할 예정*/
        opacity: 1;
    }
}

/* 네비게이션 */
.gnb {
    position: absolute;
    left: 180px;
    bottom: 9px;
    display: flex;
}

.gnb>li {
    padding-left: 21px;
    height: 100%;
    text-align: center;
}

.gnb>li>a {
    font-weight: bold;
    line-height: 74px;
}

/* 스토어 */
.store {
    position: absolute;
    width: 100px;
    height: 23px;
    top: 68px;
    right: 200px;
    transform: translateY(-50%);
    font-weight: bold;
    text-align: center;
    transition: .6s;
}

.store.on {
    top: 0px;
}

.store>li {
    display: block;
    width: 100%;
    height: 60px;
    cursor: pointer;
    padding-right: 35px;
}

/* 스토어 화살표 아이콘 가상요소 */
.storeTit::after {
    content: url(../images/icon-arrow.svg);
    position: absolute;
    display: inline-block;
    margin-left: 15px;
    top: 2px;
    transform: rotate(270deg);
    height: 20px;
    transition: .4s ease-in-out;
}

.store>li:hover .storeTit::after {
    transform: rotate(90deg);
}

.store ol {
    position: absolute;
    top: 55px;
    left: 0;
    width: 200px;
    box-sizing: border-box;
    background-color: #000;
    text-align: left;
    font-size: 12px;
    line-height: 2;
    border-radius: 5px;



    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .6s ease-in-out;
}

/* 스토어 서브메뉴 박스 상단 삼각형 */
.store ol::before {
    content: '';
    position: absolute;
    top: -9px;
    left: 31px;
    width: 0;
    height: 0;
    border-bottom: 20px solid #000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.store ol li {
    overflow: hidden;
}

/* 각 서브메뉴 마우스오버 트랜지션 */
.store ol li a {
    display: block;
    transform: translateY(-100%);
}

.store>li:hover ol li a {
    transform: translateY(0%);
    transition: transform .6s ease-in-out .2s;
}

.store>li:hover ol {
    opacity: 1;
    height: 80px;
    padding: 15px;
    overflow: visible;
}

/* 토글용 메뉴 */
#top2 {
    display: flex;
    position: fixed;
    width: 100%;
    height: 0px;
    box-sizing: border-box;
    z-index: 999;
    background-color: #000;
    font-family: 'Public Sans', sans-serif;
    font-weight: bold;
    overflow: hidden;
    transition: .6s;
}

#top2.on {
    height: 450px;
}

#product,
#about {
    box-sizing: border-box;
    margin-left: 15%;
    margin-top: 100px;
}



#product li,
#about li {
    overflow: hidden;
}

#product a,
#about a {
    display: block;
    font-size: 30px;
    transform: translateY(100%);
    transition: all .6s ease-in-out;
}

/* #top2에 클래스 on 들어가면 서브메뉴 원위치*/
#top2.on #product a,
#top2.on #about a {
    transform: translateY(0%);
}

/* 마우스오버용 밑줄 가상요소 */
#product a::after,
#about a::after {
    content: '';
    display: block;
    border-bottom: 3px solid #fff;
    width: 0;
    transition: all .3s ease-in-out;
}

#product li:hover a::after,
#about li:hover a::after {
    width: 100%;
    border-bottom: 3px solid #fff;
}

#product li+li,
#about li+li {
    margin-top: 10px;
}

.ptit,
.atit {
    color: #ccc;
    margin-bottom: 30px;
}


/* 햄버거 버튼 */
.ham {
    position: fixed;
    top: 65px;
    right: 35px;
    width: 40px;
    height: 25px;
    cursor: pointer;
    z-index: 9999;
    transform: translateY(-50%);
    transition: .6s;
}

.ham span {
    display: block;
    background-color: #fff;
    width: 100%;
    height: 3px;
    /* 햄버거로 돌아갈때 트랜스폼이 먼저 */
    transition: margin .3s .5s, transform .3s;
}

.ham span:first-child{
    margin-bottom: 8px;
}

.ham span:nth-child(2){
    margin: 8px 0;
}

.ham span:last-child{
    margin-top: 8px;
}

.ham.on span{
    margin: 0;
    /* 엑스표시 될때 마진이 먼저 트랜지션 */
    transition: margin .3s, transform .3s .5s;
}

.ham.on span:first-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(40deg);
}

.ham.on span:nth-child(2) {
    opacity: 0;
}

.ham.on span:last-child {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-40deg);
}


/* ////////////////////////////////////////// 섹션 1 ///////////////////////////////////////// */

.lookbx {
    width: 100%;
    height: auto;
}

/*/////////////////////////////// 천우희//////////////////////////////////////////////// */

.wooheebx {
    position: relative;
}

/* 천우희 이미지 */
.woohee {
    position: relative;
    left: 23.3vw;
    top: 170px;
    width: 60vw;
    border-radius: 10px;
}

/* 천우희 이미지 텍스트 */
.muse {
    position: relative;
    bottom: -14vh;
    width: 50vw;
    left: 11vw;
    background: url(../images/typo-muse-2.svg) no-repeat bottom/100%;
}


/* 네케르 스토리 */
.nstory {
    color: #fff;
    text-align: right;
    margin-top: 202px;
    padding-right: 10vw;
}

.nstory li:nth-child(3) {
    margin-top: 45px;
    margin-right: 48px;
}

.nstory li:nth-child(3) a::after {
    content: url(../images/icon--button.svg);
    position: absolute;
    margin-left: 12px;
    margin-top: -6px;
    transform: scale(1);
    transition: transform .2s ease-in-out;
}

.nstory li:nth-child(3) a:hover::after {
    transform: scale(1.2);
}

/*////////////////////////////// 김혜준//////////////////////////////////////// */

.hybx {
    position: relative;
}

/* 김혜준 이미지 */
.hyejun {
    position: relative;
    left: 0vw;
    top: 170px;
    width: 58vw;
    border-radius: 10px;
}

/* 김혜준 이미지 텍스트 */
.lookbook {
    position: relative;
    bottom: -16vh;
    width: 50vw;
    left: 17vw;
    background: url(../images/typo-lookbook-2.svg) no-repeat bottom/100%;
}

/* 메이크업 */
.makeup {
    color: #fff;
    margin-top: 202px;
    padding-left: 10vw;
}

.makeup li:nth-child(3) {
    margin-top: 45px;
    margin-right: 48px;
}

.makeup li:nth-child(3) a::after {
    content: url(../images/icon--button.svg);
    position: absolute;
    margin-left: 12px;
    margin-top: -6px;
    transition: transform .2s ease-in-out;
}

.makeup li:nth-child(3) a:hover::after {
    transform: scale(1.2);
}


/* /////////////////// 플라워 가든//////////////////////////////////// */

.flowerbx {
    position: relative;
}

/* 플라워가든 이미지 */
.fgImg {
    position: relative;
    left: 23.3vw;
    top: 170px;
    width: 60vw;
    border-radius: 10px;
}

/* 플라워가든 이미지 텍스트 */
.flowerGarden {
    position: relative;
    bottom: -13vh;
    width: 48vw;
    left: 11vw;
    background: url(../images/typo-flower-2.svg) no-repeat bottom/100%;
}


/* 플라워가든 텍스트 */
.fgtest {
    color: #fff;
    text-align: right;
    margin-top: 202px;
    padding-right: 10vw;
}

.fgtest li:nth-child(5) {
    font-weight: bold;
    margin-top: 45px;
    margin-right: 48px;
}

.fgtest li:nth-child(5) a::after {
    content: url(../images/icon--button.svg);
    position: absolute;
    margin-left: 12px;
    margin-top: -6px;
    transform: scale(1);
    transition: transform .2s ease-in-out;
}

.fgtest li:nth-child(5) a:hover::after {
    transform: scale(1.2);
}






/* /////////////////////////////////////// 섹션2 ////////////////////////////////////////////////////////// */

.facebx {
    width: 100%;
    height: auto;
}

.facebx2 {
    position: relative;
    height: 100%;
}

.facetxt {
    margin-top: 300px;
    padding-right: 10vw;
    color: #fff;
    text-align: right;
    letter-spacing: -0.8px;
}

.face {
    width: 24vw;
    margin-top: 67px;
    padding-left: 10vw;
}




/* face 컨텐츠 - 파운데이션 */
.fc1 {
    /* position: relative; */
    margin-top: 200px;
    margin-left: 50%;
    padding: 3.6%;
    box-sizing: border-box;
    width: 50%;
    color: #000;
}

.fc1 a {
    position: relative;
    right: -7.3vw;
    width: 31.2vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
}


/* 비율유지 가상 박스 */
.fc1 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.fc1 h2 {
    font-size: 3vw;
    white-space: nowrap;
}

.fc1 span {
    display: block;
    width: 100%;
    white-space: nowrap;
    font-weight: lighter;
}

.fc1 span:nth-of-type(2) {
    margin-top: 23px;
    color: #ccc;
}

.fc1 span:nth-of-type(3) {
    margin-top: 23px;
}

.fc1 img {
    position: absolute;
    bottom: 7%;
    right: 10.5%;
    width: 80%;
    transition: opacity .6s;
}

.fc1 a:hover img {
    opacity: .6;
}





/* face 컨텐츠2 - 뷰티 밤 */

.fc2 {
    /* position: relative; */
    margin-right: 50%;
    padding: 3.6%;
    box-sizing: border-box;
    width: 50%;
    color: #000;
    transform: translateY(-40%);
    /* 위치값으로 배치하면 화면크기에 따라 위치값이 상대적으로 변하므로 트랜스폼으로 위치를 고정시킨다. (중요!!!) */
}

.fc2 a {
    position: relative;
    left: -2.9vw;
    width: 31.2vw;
    box-sizing: border-box;
    display: block;
    background: linear-gradient(180deg, #ac8d73 0%, #e8d8cb 100%);
    color: #fff;
    border-radius: 10px;
    transform: translateY(-10%);
    overflow: hidden;
}

.fc2 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.fc2 h2 {
    margin-top: 8px;
    font-size: 3vw;
    white-space: nowrap;
    line-height: 110%;
}

.fc2 span {
    display: block;
    width: 100%;
    white-space: nowrap;
    font-family: 'Public Sans', sans-serif;
}

.fc2 span:nth-of-type(2) {
    margin-top: 23px;
    color: #fff;
}

.fc2 img {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    transition: opacity .6s;
}

.fc2 a:hover img {
    opacity: .6;
}



/* face 컨텐츠 3 - 퍼펙션 */
.fc3 {
    width: 50%;
    margin-left: 50%;
    box-sizing: border-box;
    color: #000;
    transform: translateY(-71%);
}

.fc3 a {
    position: relative;
    width: 31.2vw;
    left: .5vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    background: url(../images/face_3.jpg) no-repeat center/100% 100%;
    transform: translateY(-14%);
}

.fc3 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}


.fc3 span {
    display: block;
    font-weight: lighter;
    white-space: nowrap;
}

.fc3 span:nth-of-type(1) {
    font-size: 1vw;
    font-weight: bold;
}

.fc3 span:nth-of-type(2) {
    margin-top: 23px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

.fc3 span:nth-of-type(3) {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 1vw;

}

.fc3 span:nth-of-type(4) {
    margin-top: 23px;
}

.fc3 a:hover img {
    opacity: .6;
}

.fc3 h2 {
    position: absolute;
    bottom: 8%;
    font-size: 3vw;
    white-space: nowrap;
}




/* face 컨텐츠 4 - 프로덕트 */

.fc4 a {
    position: absolute;
    width: 31.2vw;
    left: 5vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    transform: translateY(-115%);
}

.fc4 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

/* 그라데이션 이미지 변환 박스 */
.fc4-1 {
    position: absolute;
    margin: 0;
    padding: 0;
}

.fc4-1-1 {
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity .2s;
}

.fc4-1 img {
    width: 50%;
    background: linear-gradient(180deg, #000, #000) no-repeat center/99% 98%;
}


.fc4-1-1 img {
    width: 50%;
    background: linear-gradient(180deg, #f29f79, #ddb9a2, #a97650) no-repeat center/99% 98%;
}

.fc4 a:hover .fc4-1-1 {
    opacity: 0;
}

.fc4-2 {
    position: absolute;
    top: 39%;
}

.fc4 span {
    color: #666;
    font-size: 1.3vw;
}






/* ////////////////////////////////////////////////////섹션 3////////////////////////////////////////////////////// */

.lipbx {
    width: 100%;
    height: auto;
}

.lipbx2 {
    position: relative;
    height: 100%;
}

.liptxt {
    color: #fff;
    padding-left: 10vw;
    text-align: left;
    letter-spacing: -0.8px;
}

.lip {
    display: block;
    width: 18vw;
    margin-top: 67px;
    margin-left: auto;
    padding-right: 10vw;
}


/* 립 컨텐츠 1 - 멜로우 레드 */
.lip1 {
    /* position: relative; */
    margin-top: 200px;
    margin-right: 50%;
    box-sizing: border-box;
    width: 50%;
    color: #000;
}

.lip1 a {
    position: relative;
    width: 31.2vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
}


/* 비율유지 가상 박스 */
.lip1 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.lip1 h2 {
    font-size: 3vw;
    white-space: nowrap;
}

.lip1 span {
    display: block;
    width: 100%;
    white-space: nowrap;
    font-weight: lighter;
}

.lip1 span:nth-of-type(2) {
    margin-top: 23px;
    color: #ccc;
}

.lip1 span:nth-of-type(3) {
    margin-top: 23px;
}

.lip1 img {
    position: absolute;
    bottom: 6%;
    right: 15.5%;
    margin: 0 auto;
    width: 70%;
    transition: opacity .6s;
}

.lip1 a:hover img {
    opacity: .6;
}




/* lip 컨텐츠 2 - 체스트넛 무스 */
.lip2 {
    margin-left: 50%;
    /* padding: 3.6%; */
    box-sizing: border-box;
    width: 50%;
    color: #000;
    transform: translateY(-40%);
    /* 위치값으로 배치하면 화면크기에 따라 위치값이 상대적으로 변하므로 트랜스폼으로 위치를 고정시킨다. (중요!!!) */
}

.lip2 a {
    position: relative;
    right: -10.4vw;
    width: 31.2vw;
    box-sizing: border-box;
    display: block;
    background: linear-gradient(180deg, #954e4e 0%, #d5c2ba 100%);
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.lip2 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.lip2 h2 {
    margin-top: 8px;
    font-size: 3vw;
    white-space: nowrap;
    line-height: 110%;
}

.lip2 span {
    display: block;
    width: 100%;
    white-space: nowrap;
    font-family: 'Public Sans', sans-serif;
}

.lip2 span:nth-of-type(2) {
    margin-top: 23px;
    color: #fff;
}

.lip2 span:nth-of-type(3) {
    margin-top: 23px;
    color: #fff;
}

.lip2 img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    transition: opacity .6s;
}

.lip2 a:hover img {
    opacity: .6;
}


/* lip 컨텐츠 3 - 6color */
.lip3 {
    margin-right: 50%;
    box-sizing: border-box;
    width: 50%;
    color: #000;
    transform: translateY(-70%);
}

.lip3 a {
    position: relative;
    width: 31.2vw;
    left: 5vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
}

.lip3 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.lip3 h3 {
    margin-top: 5%;
    font-size: 2vw;
}

.lip3 span {
    display: block;
    margin-top: 23px;
    color: #ccc;
}

/* lip svg 이미지 설정 */
.lip3 svg {
    display: block;
    margin: 15% auto;
    width: 80%;
    height: 50%;
}

/* svg 각 영역 색 채우기 */
.lcolor1 {
    fill: #aa5551
}

.lcolor2 {
    fill: #ac4347
}

.lcolor3 {
    fill: #9e2133
}

.lcolor4 {
    fill: #d82e2a
}

.lcolor5 {
    fill: #f35a31
}

.lcolor6 {
    fill: #b02c27
}

.lip3 h2 {
    font-size: 4vw;
    white-space: nowrap;
    text-align: center;
}




/* lip 컨텐츠 4 - 프로덕트 */

.lip4 a {
    position: absolute;
    width: 31.2vw;
    right: 10vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    transform: translateY(-115%);
}

.lip4 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

/* 그라데이션 이미지 변환 박스 */
.lip4-1 {
    position: absolute;
    margin: 0;
    padding: 0;
}

.lip4-1-1 {
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity .2s;
}

.lip4-1 img {
    width: 50%;
    background: linear-gradient(180deg, #000, #000) no-repeat center/99% 98%;
}


.lip4-1-1 img {
    width: 50%;
    background: linear-gradient(180deg, #e8a69d, #e18580, #d75053) no-repeat center/99% 98%;
}

.lip4 a:hover .lip4-1-1 {
    opacity: 0;
}

.lip4-2 {
    position: absolute;
    top: 39%;
}

.lip4 span {
    color: #666;
    font-size: 1.3vw;
}


/* //////////////////////////////////////////// 섹션4//////////////////////////////////////////////////////////// */
.eyebx {
    width: 100%;
    height: auto;
}

.eyebx2 {
    position: relative;
    height: 100%;
}

.eyetxt {
    color: #fff;
    padding-right: 10vw;
    text-align: right;
    letter-spacing: -0.8px;
}

.eye {
    display: block;
    width: 18vw;
    margin-top: 67px;
    margin-right: auto;
    padding-left: 10vw;
}



/* eye 컨텐츠 - 무드 브라운 */
.eye1 {
    /* position: relative; */
    margin-top: 200px;
    margin-left: 50%;
    box-sizing: border-box;
    width: 50%;
    color: #000;
}

.eye1 a {
    position: relative;
    width: 31.2vw;
    right: -10.4vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
}


/* 비율유지 가상 박스 */
.eye1 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.eye1 h2 {
    font-size: 3vw;
    white-space: nowrap;
}

.eye1 span {
    display: block;
    width: 100%;
    white-space: nowrap;
    font-weight: lighter;
}

.eye1 span:nth-of-type(2) {
    margin-top: 23px;
    color: #ccc;
}

.eye1 span:nth-of-type(3) {
    margin-top: 23px;
}

.eye1 img {
    position: absolute;
    bottom: 6%;
    right: 15.5%;
    margin: 0 auto;
    width: 70%;
    transition: opacity .6s;
}

.eye1 a:hover img {
    opacity: .6;
}


/* eye 컨텐츠 2 - 벨리 라이크 블렌딩 */
.eye2 {
    width: 50%;
    margin-right: 50%;
    box-sizing: border-box;
    color: #000;
    transform: translateY(-51%);
}

.eye2 a {
    position: relative;
    width: 31.2vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    background: url(../images/eye_2.jpg) no-repeat center/100% 100%;
}

.eye2 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}


.eye2 span {
    display: block;
    font-weight: lighter;
    white-space: nowrap;
}

.eye2 span:nth-of-type(1) {
    font-size: 1vw;
    font-weight: bold;
}

.eye2 span:nth-of-type(2) {
    margin-top: 23px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

.eye2 span:nth-of-type(3) {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 1vw;

}

.eye2 span:nth-of-type(4) {
    margin-top: 23px;
}

.eye2 a:hover img {
    opacity: .6;
}

.eye2 h2 {
    position: absolute;
    bottom: 8%;
    font-size: 3vw;
    white-space: nowrap;
}

/* eye 컨텐츠 3 - 4color */
.eye3 {
    margin-left: 50%;
    box-sizing: border-box;
    width: 50%;
    color: #000;
    transform: translateY(-70%);
}

.eye3 a {
    position: relative;
    width: 31.2vw;
    left: 1vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
}

.eye3 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.eye3 h3 {
    margin-top: 5%;
    font-size: 2.2vw;
}

.eye3 span {
    display: block;
    margin-top: 23px;
    color: #ccc;
}

/* eye svg 이미지 설정 */
.eye3 svg {
    display: block;
    margin: 5% auto;
    width: 80%;
    height: 50%;
}

/* svg 각 영역 색 채우기 */
.ecolor1 {
    fill: #837067
}

.ecolor2 {
    fill: #614c44
}

.ecolor3 {
    fill: #937074
}

.ecolor4 {
    fill: #b38d81
}

.eye3 h2 {
    position: absolute;
    bottom: 6%;
    left: 25%;
    font-size: 4vw;
    white-space: nowrap;
    text-align: center;
}

/* eye 컨텐츠 4 - 프로덕트 */

.eye4 a {
    position: absolute;
    width: 31.2vw;
    left: 5vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    transform: translateY(-115%);
}

.eye4 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

/* 그라데이션 이미지 변환 박스 */
.eye4-1 {
    position: absolute;
    margin: 0;
    padding: 0;
}

.eye4-1-1 {
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity .2s;
}

.eye4-1 img {
    width: 50%;
    background: linear-gradient(180deg, #000, #000) no-repeat center/99% 99%;
}


.eye4-1-1 img {
    width: 50%;
    background: linear-gradient(0deg, #e6b4a8, #bfb5e2) no-repeat center/99% 99%;
}

.eye4 a:hover .eye4-1-1 {
    opacity: 0;
}

.eye4-2 {
    position: absolute;
    top: 39%;
}

.eye4 span {
    color: #666;
    font-size: 1.3vw;
}



/* ////////////////////////////////////////////////////////섹션5/////////////////////////////////////////////////// */
.skinbx {
    width: 100%;
    height: auto;
}

.skinbx2 {
    position: relative;
    height: 100%;
}

.skintxt {
    color: #fff;
    padding-left: 10vw;
    text-align: left;
    letter-spacing: -0.8px;
}

.skincare {
    display: block;
    width: 37vw;
    margin-top: 67px;
    margin-left: auto;
    padding-right: 10vw;
}


/* skin 컨텐츠 1 - 모이스터치 */
.skin1 {
    margin-top: 200px;
    margin-right: 50%;
    box-sizing: border-box;
    width: 50%;
    color: #000;
}

.skin1 a {
    position: relative;
    width: 31.2vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
}


/* 비율유지 가상 박스 */
.skin1 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.skin1 h2 {
    font-size: 3vw;
    white-space: nowrap;
}

.skin1 span {
    display: block;
    width: 100%;
    white-space: nowrap;
    font-weight: lighter;
}

.skin1 span:nth-of-type(2) {
    margin-top: 23px;
    color: #ccc;
}

.skin1 span:nth-of-type(3) {
    margin-top: 23px;
}

.skin1 img {
    position: absolute;
    bottom: 6%;
    right: 10.5%;
    margin: 0 auto;
    width: 80%;
    transition: opacity .6s;
}

.skin1 a:hover img {
    opacity: .6;
}

/* skin 컨텐츠2 - 미스트 */
.skin2 {
    margin-left: 50%;
    /* padding: 3.6%; */
    box-sizing: border-box;
    width: 50%;
    color: #000;
    transform: translateY(-40%);
    /* 위치값으로 배치하면 화면크기에 따라 위치값이 상대적으로 변하므로 트랜스폼으로 위치를 고정시킨다. (중요!!!) */
}

.skin2 a {
    position: relative;
    right: -10.4vw;
    width: 31.2vw;
    box-sizing: border-box;
    display: block;
    background: linear-gradient(180deg, #fd9785 0%, #f7dfbf 100%);
    color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.skin2 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

.skin2 h2 {
    margin-top: 8px;
    font-size: 3vw;
    white-space: nowrap;
    line-height: 110%;
}

.skin2 span {
    display: block;
    width: 100%;
    white-space: nowrap;
    font-family: 'Public Sans', sans-serif;
}

.skin2 span:nth-of-type(2) {
    margin-top: 23px;
    color: #fff;
}

.skin2 span:nth-of-type(3) {
    margin-top: 23px;
    color: #fff;
}

.skin2 img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    transition: opacity .6s;
}

.skin2 a:hover img {
    opacity: .6;
}

/* skin 컨텐츠 3 - 모이스터치 크림*/
.skin3 {
    width: 50%;
    margin-right: 50%;
    box-sizing: border-box;
    color: #000;
    transform: translateY(-79%);
}

.skin3 a {
    position: relative;
    width: 31.2vw;
    left: 5vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    background: url(../images/skincare_3.jpg) no-repeat center/100% 100%;
}

.skin3 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}


.skin3 span {
    display: block;
    font-weight: lighter;
    white-space: nowrap;
}

.skin3 span:nth-of-type(1) {
    font-size: 1vw;
    font-weight: bold;
}

.skin3 span:nth-of-type(2) {
    margin-top: 23px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 1vw;
}

.skin3 span:nth-of-type(3) {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: bold;
    font-size: 1vw;

}

.skin3 span:nth-of-type(4) {
    margin-top: 23px;
}

.skin3 a:hover img {
    opacity: .6;
}

.skin3 h2 {
    position: absolute;
    bottom: 8%;
    font-size: 3vw;
    white-space: nowrap;
}

/* skin 컨텐츠 4 - 프로덕트 */
.skin4 a {
    position: absolute;
    width: 31.2vw;
    right: 10vw;
    box-sizing: border-box;
    display: block;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Public Sans', sans-serif;
    transform: translateY(-115%);
}

.skin4 a::before {
    content: '';
    display: block;
    padding-top: 155%;
}

/* 그라데이션 이미지 변환 박스 */
.skin4-1 {
    position: absolute;
    margin: 0;
    padding: 0;
}

.skin4-1-1 {
    position: absolute;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity .2s;
}

.skin4-1 img {
    width: 50%;
    background: linear-gradient(180deg, #000, #000) no-repeat center/99% 98%;
}


.skin4-1-1 img {
    width: 50%;
    background: linear-gradient(180deg, #e6c8bd, #fdc982, #d77970) no-repeat center/99% 98%;
}

.skin4 a:hover .skin4-1-1 {
    opacity: 0;
}

.skin4-2 {
    position: absolute;
    top: 39%;
}

.skin4 span {
    color: #666;
    font-size: 1.3vw;
}

/* /////////////////////////////////////////////////////푸터 영역////////////////////////////////////////////////////////// */
footer {
    width: 100%;
    height: auto;
    z-index: 99;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-top: 545px;
}

footer span {
    display: block;
}


/* 회사 주소 */
address {
    font-style: normal;
    word-spacing: -1px;
}

address span+span {
    margin-top: 10px;
}


/* 연락 */
.emailbx {
    margin-top: 35px;
}

.emailbx span {
    margin-top: 10px;
}

.copy {
    letter-spacing: -0.7px;
}

/* 패밀리 사이트 */
.familybx {
    position: relative;
    margin-top: 60px;
    font-size: 12px;
}

.family>li {
    width: 100px;
}

/* li 마우스오버용 가상영역 */
.family>li:before {
    content: '';
    position: absolute;
    top: -20px;
    width: 100px;
    height: 20px;
}

/* 화살표 아이콘 */
.family span {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    background: url(../images/icon-arrow-white.svg) no-repeat center/100%;
    transform: rotate(0deg);
    transition: transform .3s ease-in-out;
}

.family>li:hover span {
    transform: rotate(-180deg);
}

/* 패밀리사이트 서브메뉴 */
.family ol {
    position: absolute;
    top: -145px;
    background-color: #fff;
    width: 100px;
    border-radius: 5px;
    box-sizing: border-box;


    opacity: 0;
    height: 0px;
    padding: 0px;
    overflow: hidden;
    transition: opacity .6s ease-in-out;
}

/* 역삼각형 가상요소 */
.family ol::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: -10px;
    border-top: 20px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

/* 각 서브메뉴 마우스 오버 트랜지션 */
.family ol li {
    overflow: hidden;
}

.family ol li a {
    transform: translateY(-100%);
}

.family>li:hover ol li a {
    transform: translateY(0%);
    transition: transform .6s ease-in-out;
}

.family ol li+li {
    margin-top: 4px;
}

.family ol li a {
    display: block;
    color: #000;
}

.family>li:hover ol {
    padding: 15px;
    height: 130px;
    opacity: 1;
    overflow: visible;
    /* 삼각형보이게 */
}

/* sns */
.snsbx {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sns {
    display: flex;
}

.sns li+li {
    margin-left: 20px;
}

.sns img {
    display: inline-block;
    width: 30px;
    height: 30px;
}